.grid {
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  width: 200px;
  height: 200px;
}

.grid div {
  height: 20px;
  width: 20px;
  
}

.apple{
    background-color: red;
    border-radius: 10px;
}

.snake{
    background-color:blue;
   
}
